.a{    
    background-color: lightgreen;
}
.b{
    background-color: green;

}
.c{
    background-color: darkgreen;
}
.d{
    background-color: white;
}
.f{
    background-color: #b30000;
}
.g{
    background-color: red;
}
.h{
    background-color: darkred;
}
